<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>{{ .Site.Title }}</title>
    <link rel="stylesheet" href="/css/xmaterialize.min.css">
    <link rel="stylesheet" href="/css/{{.Params.appdest}}.app.css">

    <!-- Local Script  -->
    <script>
       // if (!localStorage.getItem("baseurl")) {
            localStorage.setItem("baseurl", 'https://test.easytravelapi.com/rest/yourauthtoken');
        //}
        if (!localStorage.getItem("language")) {
            localStorage.setItem("language", 'es');
        }
        var globaldata = {baseurl: localStorage.getItem("baseurl"), language: localStorage.getItem("language"), userprofile: JSON.parse(sessionStorage.getItem("userprofile"))};
        function selectLanguage(lang) {
            localStorage.setItem("language", lang);
            var globaldata = {baseurl: localStorage.getItem("baseurl"), language: localStorage.getItem("language"), userprofile: JSON.parse(sessionStorage.getItem("userprofile"))};
        };

    </script>

    <style>
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
    }
    .spacer {
        margin-top: 5%;
    }
    .appcontainer {
        margin-top: 5%;
        border-radius: 60px 0 60px;
        padding: 20px;
    }
    </style>
</head>
<body class="">
{{ block "header" . }}{{ partial "header.html" .}}{{ end }}
<main>
    <div ><!-- class container sacando los otros-->
        {{ block "main" . }}{{ end }}
    </div>
</main>
{{ block "footer" . }}{{ partial "footer.html" .}}{{ end }}
{{ block "scripts" . }}{{ partial "scripts.html" .}}{{ end }}
</body>
</html>