<div class="row"></div>
    <div class="row ">
        {{ range first 3 .Data.Pages.ByWeight }}
        <div class="col m4 s12">
          <div class="card small">
                <div class="card-image">
                    <img src="{{.Params.img}}">
                    <span class="card-title">{{ .Title }}</span>
                </div>
                <div class="card-content">
                    <p>{{ .Content }}</p>
                </div>
                <!--<div class="card-action">
                    <a href="#">GO</a>
                </div>-->
            </div>
        </div>

    {{ end }}
</div>