{{ define "main" }}
<div class="spacer">

<div class="row">
<!--<div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center">
        <p><h2 class="white-text">Hoteles</h2></p>
        <p class="white-text">Te ofrecemos los mejores precios en hoteles</p>
        <a class="btn waves-effect white grey-text darken-text-2">button</a>
    </div>
    <a class="carousel-item" href="#two!"><img src="/images/home/foto1.jpg" height="690px"></a>

    <a class="carousel-item" href="#three!"><img src="/images/home/foto2.jpg" height="690px"></a>
    <a class="carousel-item" href="#four!"><img src="/images/home/foto3.jpg" height="690x"></a>
    <a class="carousel-item" href="#four!"><img src="/images/home/foto5.jpg" height="690x"></a>
</div>
</div>-->

    <div class="container portfolio center">


        <h4>Tu agencia de viajes</h4>
        <h6>HOTELES  •  EXCURSIONES  •  CIRCUITOS  •  TRASLADOS </h6>
        <h5>&nbsp;</h5>
    </div>
    <div class="container">
    {{ partial "articlesdown.html" .}}
</div>
</div>
</div>
<!--<div  >
    {{.Content}}
</div>-->






















































</div>
{{ end }}